<%= require('html-loader!./partials/header.html') %>
<body class="background-less">
<div class="panels-wrap">
  <div class="panel panel-first">
    <div class="header-wrap">
      <div class="img-wrap">
        <img src="images/brush.svg" alt="">
      </div>
      <h2>No Background</h2>
      <p>If you want to use it without the blurry background, all you have to do is not set the background on body and use it normally</p>
    </div>

    <pre><code>const brusher = new Brusher({
    image: 'path/to/image.png'
});

brusher.init();
</code></pre>

    <a class="btn btn-red btn-back" href=".">&larr; Back to Home</a>
  </div>
  <%= require('html-loader!./partials/examples.html') %>
</div>
</body>
<%= require('html-loader!./partials/footer.html') %>
