<%= require('html-loader!./partials/header.html') %>
<body class="background-less">
<div class="panels-wrap">
  <div class="panel panel-first">
    <div class="header-wrap">
      <div class="img-wrap">
        <img src="images/brush.svg" alt="">
      </div>
      <h2>brusher</h2>
      <p>A lightweight library to create interactive backgrounds</p>
    </div>

    <a class="btn btn-blue" href=".">&larr; Back to Home</a>
  </div>
  <%= require('html-loader!./partials/examples.html') %>
</div>
</body>
<%= require('html-loader!./partials/footer.html') %>
