<%= require('html-loader!./partials/header.html') %>
<body class="homepage">
<div class="panels-wrap">
  <div class="panel panel-first">
    <div class="header-wrap">
      <div class="img-wrap">
        <img src="images/brush.svg" alt="">
      </div>
      <h2>brusher</h2>
      <p>A lightweight library to create interactive backgrounds</p>

      <a class="github-button" href="https://github.com/kamranahmedse/brusher" data-size="large" data-show-count="true">Star</a>
    </div>
  </div>

  <div class="panel bg-highlight">
    <p>Background of this page has been auto created by brusher. Move your mouse around to see it in action.</p>
    <p>All you need is an image. Below code shows how the current page has been initialized</p>
    <pre><code class="javascript hljs">const brusher = new Brusher({
  image: 'abstract.png'
});

brusher.init();
</code></pre>

    <p>There are several options that you can use to modify the result. Have a look at the section below.</p>
  </div>

  <div class="panel bg-highlight">
    <h3>Available Options</h3>
    <p>Here is the list of options that you may use</p>
    <pre><code class="javascript hljs">const brusher = new Brusher({
  image: 'abstract.png', // Path of the image to be used as a brush
  keepCleared: false, // Whether to keep cleared sections or blur them again
  stroke: 80, // Stroke size for the brush
  lineStyle: 'round', // Brush style (round, square, butt)
  autoBlur: false, // Brusher will use the provided image for the blurry background
  autoBlurValue: 15, // Blur strength in pixels
});

brusher.init();
</code></pre>

    <p>Have a look at the <a target="_blank" href="http://github.com/kamranahmedse/brusher">github page</a> for further details.</p>
  </div>

  <%= require('html-loader!./partials/examples.html') %>
</div>
</body>
<%= require('html-loader!./partials/footer.html') %>
